/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

dl dt {
    float: left;
    font-weight: bold;
    width: 130px;
}

.btn-circle {
    width: 150px;
    height: 150px;
    border-radius: 75px;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    font-size: 18px;
    font-weight: bold;
    background-image: url(../images/spartak.jpg);
    background-repeat: no-repeat;
    white-space: normal;

}

.big-checkbox {
    width: 40px;
    height: 40px;
}
.btn-square {
    width: 250px;
    height: 200px;
    text-align: center;
    font-size: 18px;
    background-image: url(../images/afisha.png);
    background-repeat: no-repeat;
    background-size: 100%;
    white-space: normal;
}

.navbar {
    background-color: #0c69ad;
    color: white;
    margin: 1px;
    padding:1px;
    
}
.navbar a{
    background-color: #0c69ad;
    color: white;
}
    .navbar a:hover {
        color: black;
    }
.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    color: #0c69ad;
}    