@model MVC.Models.PlaceType

@{
    ViewData["Title"] = "Подробности";
}

<h3>Подробности</h3>

<div>
    <h4>Тип мероприятия</h4>
    <hr />
    <dl>
        <dt>Название</dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Изменить</a> |
    <a asp-action="Index">Вернуться к списку</a>
</div>
