@{
    ViewData["Title"] = "О разработчике";
}
<h3>О разработчике</h3>

<address>
    Воронежский Государственный Технический Университет<br />
    Кафедра автоматизированных и вычислительных систем<br />
    группа иВМ-41 Папилина Марина Сергеевна
</address>

<address>
    <strong>Поддержка:</strong> <a href="mailto:marina230495@mail.ru">marina230495@mail.ru</a>
    
</address>
