@using MVC.ViewModels
@using MVC.Models
@model DetailAreaModel

@{
    ViewData["Title"] = "DetailArea";
}

<h2>DetailArea</h2>
<form asp-action="IndexPlaceInArea" method="post">
    <div>
        <dl>
            <dt>Район</dt>
            <dd>
                @Html.DisplayFor(model => Model.Area.Name)
            </dd>
        </dl>
        <input type="hidden" name="areaId" value="@Model.Area.Id"/>
    </div>

    <div>

        @foreach (PlaceType p in Model.PlaceTypes)
        {
            <button type="submit" class="btn btn-primary btn-circle" value="@p.Id" name="placetypeId" > @p.Name </button>
        }

    </div>
</form>