
@{
    ViewData["Title"] = "Помощь";
}


<div style="font-size:12pt; text-indent:30px; text-align:justify ">
    <h3> Помощь </h3>
    <p style="margin:0 0 0">
        Вы можете найти мероприятие по типу, району города и времени работы.
    </p>
    <p style="margin:0 0 0">
        На странице «Мероприятия» быстрый поиск доступен по типам мероприятий, которые представлены в виде картинок.
     </p>
    <p style="margin:0 0 0">
        Расширенный поиск доступен на странице «Мероприятия» и «Результаты поиска» по параметрам: тип мероприятия, район города, время работы, открыто ли сейчас.
        Тип мероприятия и район города выбираются из списка. Время работы вводится по шаблону: «С чч:мм По чч:мм».
        Чтобы посмотреть мероприятия, которые работают в данный момент, выберите <img src="~/images/opennow.png"  >. 
        После выбора нужных параметров нажмите кнопку Найти.
    </p>
     <p style="margin:0 0 0">   В результатах поиска будут представлены все найденные Мероприятия в виде таблицы, содержащей название мероприятия, район города и время работы. Нажмите строку нужного ме-роприятия, чтобы перейти в его карточку.
        На карточке Мероприятия вы можете посмотреть такую информацию о мероприятии, как: название, тип мероприятия, район города, адрес местоположения, адрес сайта, телефон, время рабо-ты.

    </p>
    
</div>


