@{
    ViewData["Title"] = "Главная";
}

<h3>Добро пожаловать на сайт "Интерактивная афиша Воронежа"</h3>
<p><img src="~/images/puppet_theater_kuzsvetlaya.jpg" width="600px" height="410px"></p>

<p><font size="4">Данный сайт предназначен для поиска мероприятий и мест отдыха города Воронежа. </font></p>
<p><font size="4">Перейти к поиску <a asp-controller="Home" asp-action="Events" style="text-decoration:underline">мероприятий</a></font></p>
