@model IEnumerable<MVC.Models.Area>

@{
    ViewData["Title"] = "Index";
}

<h2>Главная</h2>

<p>Сайт предназначен для поиска мероприятий и мест отдыха города Воронежа.</p>

<a asp-controller="Home" asp-action="Events">Афиша мероприятий</a>