@model IEnumerable<MVC.Models.Area>

@{
    ViewData["Title"] = "Главная";
}

<h2>Главная</h2>

<p>Сайт предназначен для поиска мероприятий и мест отдыха города Воронежа.</p>

<button class="btn btn-square" onclick="window.location.href='@Url.Action("Events")'">Афиша мероприятий</button>
