@{
    ViewData["Title"] = "Главная";
}
<br />
<div class="wrapping-description">
    <img src="~/images/puppet_theater_kuzsvetlaya.jpg" width="480" height="328">
</div>

<div style="font-size:12pt; text-indent:30px; text-align:justify">
    <p>
        Культурная жизнь Воронежа насыщена мероприятиями, событиями, которые заслужили высокое признание широкой общественности и
        экспертов. Международный Платоновский фестиваль искусств, Детский театральный фестиваль «Маршак», Международная
        выставка-ярмарка «Воронеж – город-сад» получили славу не только в России, но и за рубежом.
        Среди разнообразных фольклорных, гастрономических, музыкальных, спортивных, молодежных и деловых событий, наполняющих жизнь
        города, каждый гость Воронежа найдет себе мероприятие по душе.
    </p>
    <p>
        Места развлечений и отдыха в столице Черноземья благоустроены и комфортны. В Воронеже расположено большое
        количество торговых и развлекательных центров, ресторанов, кафе, клубов, культурных учреждений. В области
        функционируют 17 музеев, 6 из которых являются государственными. В музее им.Крамского можно увидеть
        все – от произведений искусства Древнего Египта, Греции, живописи Западной Европы до полотен российских
        и советских художников: К.П. Брюллова, И.Н. Крамского, И.И. Левитана, А.К. Саврасова. В Воронеже по указу
        Петра I были построены первые боевые корабли для похода на Азов. Сегодня воронежцам и гостям столицы Черноземья об этом
        напоминает уникальный действующий корабль-музей «Гото Предестинация».
    </p>

</div>
<p style="font-size:12pt">На данном сайте представлены популярные места отдыха и развлечений. Перейти к поиску <a asp-controller="Home" asp-action="Events" style="text-decoration:underline">мероприятий</a></p>
